:root {
  --header-height: 25px;
}

body, div, iframe {
  margin: 0;
  padding: 0;
  border: none;
  outline-width: 0;
  tab-size: 4;
}

body {
  color: #afafaf;
  background-color: #252526;
}

#app_container {
  height: 100vh;
}

#app_header {
  height: var(--header-height);
  background-color: #252526;
  display: flex;
  padding: 0 5px;
}

#app_body {
  height: calc(100% - var(--header-height));
  display: flex;
}

input[type="file"] {
  line-height: 24px;
  cursor: pointer;
}

#side_panel {
  background-color: #252526;
  width: 100%;
  max-width: 250px;
  padding: 0 5px 5px;
}

#preview_container {
  width: 100%;
  background-color: #252526;
  min-width: 300px;
  padding: 0 5px 5px;
}

#outer_iframe {
  height: 100%;
  width: 100%;
}

#inspect {
  cursor: pointer;
}
