input {
    padding: 0;
    margin: 0;
    border: none;
}

#css_editor {
    height: 100%;
    background-color: white;
    color: black;
}

#inspected_element {
    padding: 5px 5px 0;
}

.css_rules {
    background-color: white;
    padding: 5px 5px 0;
}

.css_rule {
    padding: 0 0 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid lightgrey;
}

.css_file {
    font-size: 14px;
    color: grey;
}

.css_declaration,
.css_selector_container {
    width: moz-fit-content;
    width: fit-content;
    max-width: 300px;
    overflow-wrap: anywhere;
}

.dec_property, .dec_value {
    overflow-wrap: anywhere;
}

*[contenteditable="true"] {
    outline-width: 0;
    padding: 0 0 0 3px;
}
*[contenteditable="true"]:focus {
    box-shadow: 0 1px 3px 0 #00000073;
}

.css_declarations {
    margin: 0;
    width: moz-fit-content;
    width: fit-content;
    padding-inline-start: 0;
    list-style-type: none;
}
.css_selector {
    overflow-wrap: anywhere;
}
.css_selector:not([contenteditable="true"]) {
    color: slateblue;
}
.dec_value:not([contenteditable="true"]) {
    color: cadetblue;
}
.dec_property:not([contenteditable="true"]) {
    color: crimson;
}

.space_and_comments {
    white-space: pre;
    display: inline-block;
    font-size: 0;
}

.comment {
    transform: translateY(3px);
}

ol.disabled .comment {
    opacity: 0;
}

ol.enabled .comment {
    opacity: 1;
}

.css_declaration.is_comment {
    text-decoration: line-through;
}

#as_form {
    background-color: blue;
    padding: 0 2px 2px;
}

#as_form input[type="submit"] {
    padding: 0 4px;
}

input#search_add_field {
    padding: 0 2px;
    margin-right: 3px;
}